<!DOCTYPE html>
<html>
<head>
    <% include ../includes/header.ejs %>
</head>

<body id="prove02_display">
    <% include ../includes/nav.ejs %>
    <h1><%= title %></h1>
    <% if(books.length > 0) { %>
        <div id="cards">
            <% books.forEach((book) =>{ %>
                <section id="card">
                    <h2><%= book.title %></h2>
                    <p><%= book.description %></p>
                </section>
            <% }) %>
        </div>
    <% } else { %>
        <h1>No Books Found!</h1>
    <% } %>
    <a href="/prove02">Add a book</a>
</body>
</html>